.MainInput {
    height: 30px;
    background-color: #00000099;
    color: #ffffff;
    border-radius: 0;
    border: 2px solid #888888;
    padding: 5px;
    box-sizing: border-box;
}

input.MainInput {
    display: inline-block;
    font-size: small;
    font-weight: bold;
    font-family: CalamitySans;
}

div.MultiLineInput {
    margin: 5px;
    height: 300px;
}

div.MainInput textarea:disabled, input.MainInput:disabled {
    color: #888888;
    background-color: #333333;
    border-color: #888888;
    box-shadow: none;
    text-shadow: none;
}

.MainInput:focus-visible, textarea:focus-visible {
    outline: none;
    border-color: #eeeeee;
    box-shadow: 0 0 5px #eeeeee;
}
