.ListItem {
    padding: 2px 2px 2px 10px;
    cursor: pointer;
}

.ListItem:hover {
    background-color: #444444;
}

.ListItemSelected {
    background-color: #333333;
}

.ListItemContextSelected {
    background-color: #333333;
}

.ListItem.Small{
    font-size: small;
}





