@font-face {
    font-family: CalamitySans;
    src: url("/assets/font/Calamity-Regular.otf") format("opentype");
}

@font-face {
    font-family: DejaVuSansMono;
    src: url("/assets/font/DejaVuSansMono.ttf") format("truetype");
}

body {
    color-scheme: dark;
    margin: 0;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: DejaVuSansMono;
}

a {
    color: #b7f1ff;
}

a:visited {
    color: #b7afff;
}

.Highlight {
    color: #00ffcc !important;
}

.Important {
    color: #eeee88 !important;
}

.Error {
    color: #ee7777 !important;
}

.SheikaBackground {
    background-image: url("/assets/Background.png");
}

.HatenoBackground {
    background-image: url("/assets/InGame.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Calamity {
    font-family: CalamitySans;
}
