h3.SectionHeader {
    margin: 0;
    padding: 10px;
    height: 40px;
	border-bottom: 2px solid;
	box-sizing: border-box;
}

div.SectionContent {
    height: calc( 100% - 40px );
    overflow-y: auto;
}
