# Dev certificates
/.cert
*.pem
*.pfx
*.key

# Task runner
.task

# Cache
.eslintcache

# Cargo
/target

# NPM
node_modules

# ignore the toolchain file generated locally
# to not override the one in CI
rust-toolchain

# Ignore generated credentials from google-github-actions/auth
gha-creds-*.json
rustc-ice-*

# BlueFlame images
/image
*.bfi
*.blfm
