[submodule "mono-dev"]
	path = packages/mono-dev
	url = https://github.com/Pistonight/mono-dev
	branch = main
[submodule "research-scripts"]
	path = packages/research-scripts
	url = https://github.com/Pistonight/botw-research-scripts
	branch = main
[submodule "item-assets"]
	path = packages/item-assets
	url = https://github.com/Pistonight/botw-item-assets
	branch = main
[submodule "shared-controls"]
	path = packages/shared-controls
	url = https://github.com/Pistonight/shared-controls
	branch = main
[submodule "intwc"]
	path = packages/intwc
	url = https://github.com/Pistonight/intwc
	branch = main
