div.Page {
    height: 100%;
    width: 100%;
    max-width: 100%;
    color: #ffffff;
    background-color: #262626;
    border-right: 2px solid #333333;
    box-sizing: border-box;
}

div.PageContent {
    padding: 0 10px;
    overflow-wrap: break-word;
}
