div.TooltipWindow {
    z-index: 100;
    border: 2px solid #0088ff;
    color: #ffffff;
    padding: 5px;
    background-image: url("/assets/Background.png");
    white-space: nowrap;
}

div.TooltipWindow.TooltipWarn {
    border-color: orange;
}

div.TooltipWindow.TooltipError {
    border-color: red;
}

p.TooltipLine {
    margin: 0;
    font-size: smaller;
    color: #cccccc;
}

p.TooltipHeader {
    color: #ffffff;
    font-size: medium;
}
