[package]
name = "blueflame"
version = "0.0.0"
edition = "2021"

[dependencies.blueflame-utils]
path = "../blueflame-utils"

[dependencies.blueflame-singleton]
path = "../blueflame-singleton"

[dependencies.blueflame-program]
path = "../blueflame-program"

[dependencies.blueflame-macros]
path = "../blueflame-macros"

[dependencies]
derive_more = { version = "1.0.0", features = ["constructor", "deref", "deref_mut"] }
enumset = "1.1.5"
rand_xoshiro = "0.6.0"
sha2 = "0.10.8"
thiserror = "2.0.11"
