[package]
name = "skybook-runtime"
version = "0.0.0"
edition = "2024"
publish = false

[dependencies.blueflame]
path = "../blueflame"

[dependencies.skybook-parser]
path = "../parser"

[dependencies.skybook-api]
path = "../skybook-api"

[dependencies]
derive_more.workspace = true
hashlink = "0.10.0"
log.workspace = true
oneshot.workspace = true
serde.workspace = true
thiserror.workspace = true
teleparse.workspace = true
static_assertions.workspace = true

# TS/WASM dependencies
wasm-bindgen-spawn = { version = "0.0.2", optional = true }
web-sys = { version = "0.3.77", features = ["console"], optional = true }

[features]
# default = ["wasm"]
wasm = [
    "skybook-api/wasm",
    "dep:wasm-bindgen-spawn",
    "dep:web-sys",
]
unsafe-leak = []
