[package]
name = "skybook-runtime-wasm"
description = "WASM API for Skybook Runtime"
version = "0.0.0"
edition = "2024"
publish = false

[dependencies.blueflame]
path = "../blueflame"

[dependencies.skybook-runtime]
path = "../runtime"
features = ["wasm"]

[dependencies.skybook-parser]
path = "../parser"
features = ["wasm", "cached"]

[dependencies]
wasm-bindgen = { workspace = true }
tsify = { workspace = true }
serde = { workspace = true }
ts-rs = { workspace = true }
js-sys = { workspace = true }
wasm-bindgen-futures = { workspace = true }
console_error_panic_hook = "0.1.7"
console_log = { version = "1.0.0", features = ["color"] }
log = { workspace = true }

[lib]
crate-type = ["cdylib"]
