[package]
name = "skybook-runtime-wasm"
version = "0.0.0"
edition = "2021"
publish = false

[dependencies]
skybook-runtime = { path = "../runtime", features = ["wasm"] }
skybook-parser = { path = "../parser", features = ["wasm", "cached"] }
wasm-bindgen = { version = "0.2.99", features = ["serde", "serde-serialize"] }
tsify-next = { version = "0.5.4", features = ["js"], default-features = false }
serde = { version = "1.0.217", features = ["derive"] }
ts-rs = "10.1.0"
js-sys = "0.3.77"
wasm-bindgen-futures = "0.4.50"

[lib]
crate-type = ["cdylib"]
