h1 {
  margin: 0
}

@font-face {
  font-family: CalamitySans;
  src: url("assets/Calamity-Regular.otf") format("opentype");
}

.Calamity {
  font-family: CalamitySans;
}

.CommandItemSelected {
  background-color: #eeeeee;
}

.CommandItemContextSelected {
  background-color: #eeaaaa;
}

.CommandItemComment{
  color: green;
  font-size: 10pt;
}

.CommandItemInvalid {
  color: red;
}

.CommandItem {
  padding: 2px 2px 2px 10px;
  cursor: pointer;
}

.CommandItem:hover {
  border: 1px solid black;
}

.CommandInput {
  border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 2px solid #0074d9;
  color: #b7f1ff;
  text-shadow: 0 0 5px #3aa0ff,0 0 5px #3aa0ff,0 0 5px #3aa0ff;
}

.CommandInput:focus-visible {
  border-color: #b7f1ff;
}

.InputError {
  color: #ff3333;
  text-shadow: 0 0 5px #ee7777,0 0 5px #ee7777,0 0 5px #ee7777;
  border-bottom: 2px solid #dd0000;
}

.InputError:focus-visible {
  border-bottom: 2px solid #ff3333;
}

.ItemSlot {
  margin: 4px;
  width: 64px;
  height: 64px;
  
  background-color: #333333bb;
  box-sizing: content-box;
  display: inline-block;
  position:relative;
}

.ItemSlotBroken {
  background-color: #660000;
}

.GameDataBackground {
  background-color: #003300;
}

.ItemSlotEquipped {
  background-color: #0088ff;
}

.ItemImage {
  border: 1px solid #999999;
  box-sizing: border-box;
  margin:1px;
  padding:1px;
  width:62px;
  height:62px;
  display:inline-block;
}

.ItemLayer {
  width: 72px;
  height: 72px;
  position: absolute;
  top: -4px;
  left:-4px;
}

.ItemCount {
  font-size: 10pt;
  position:absolute;
  left:10px;
  top: 48px;
  /* top:-22px;
  left:8px; */ 
  color:#eeeeee;
}

.ItemDurability {
  display:inline-block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 10pt;
  position:absolute;
  left: 2px;
  bottom: 2px;

  color:#eeeeee;
  background-color: #333333bb;
  box-sizing: border-box;
  border: 1px solid #999999;
  padding: 0 1px;
}

h3.ListHeader {
  margin: 0;
  padding: 10px;
}

h4.Reference {
  margin: 0;
  color: #cccccc;
}

p.Reference {
  padding-left: 20px;
}

.Example {
  color:#eeee00;
}

h3.Reference {
  margin-top: 30px;
  margin-bottom: 0;
}

h3.Reference2 {
  margin-top: 0;
  margin-bottom: 0;
}

button.MainButton {
  font-family: CalamitySans;
  font-weight: bold;
  display: inline-block;
  padding: 5px;
  width: 100px;
  margin: 5px;
  background-color: #00000099;
  color: #ffffff;
  border-radius: 0;
  border: 2px solid #888888;
}

button.MainButton:hover {
  border-color: #eeeeee;
  box-shadow: 0 0 5px #eeeeee;
}

button.MainButton:active {
  background-color: #888888;
}

.FullWidth {
  width: 100% !important;
}

div.OtherPage {
  height: 100%;
  width: 100%;
  color: #ffffff;
}

div.OtherPageContent{
  padding: 10px;
}

.MainInput {
  display: block;
  width: 100%;
  background-color: #00000099;
  color: #ffffff;
  border-radius: 0;
  border: 2px solid #888888;
  margin-bottom: 5px;
}

input.MainInput {
  font-size: 14pt;
  font-family: CalamitySans;
}

textarea {
  resize: none;
  height: 300px;
}

.MainInput:focus-visible {
  outline: none;
  border-color: #eeeeee;
  box-shadow: 0 0 5px #eeeeee;
}

.SpecialScreen {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}
