h1 {
  margin: 0
}

@font-face {
  font-family: CalamitySans;
  src: url("assets/Calamity-Regular.otf") format("opentype");
}

.Calamity {
  font-family: CalamitySans;
}

.CommandItemSelected {
  background-color: #eeeeee;
}

.CommandItemContextSelected {
  background-color: #eeaaaa;
}

.CommandItemComment{
  color: green;
  font-size: 10pt;
}

.CommandItem {
  padding: 2px 2px 2px 10px;
  cursor: pointer;
}

.CommandItem:hover {
  background-color: #eeeeee;
}

.InputError {
  background-color: #eeaaaa;
}

.ItemSlot {
  margin: 4px;
  width: 64px;
  height: 64px;
  
  background-color: #333333;
  box-sizing: content-box;
  display: inline-block;
}

.ItemSlotBroken {
  background-color: #660000;
}

.ItemSlotSave {
  background-color: #003300;
}

.ItemSlotEquipped {
  background-color: #0088ff;
}

.ItemImage {
  border: 1px solid #999999;
  box-sizing: border-box;
  margin:1px;
  width:62px;
  height:62px;
  display:inline-block;
}

.ItemImageSave {
}

.ItemCount {
  font-size: 10pt;
  position:relative;
  top:-22px;
  left:8px;
  color:#eeeeee;
  float: left;
}
