name: Build
on:
  push:
    branches:
    - next
  pull_request:
    branches:
    - next

jobs:
  build-server:
    name: Server
    runs-on: ubuntu-latest
    container: golang:alpine
    steps:
      - uses: actions/checkout@v4
      - uses: arduino/setup-task@v2
        with:
          version: 3.x
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/setup-go@v5
      - run: task server:build
      - uses: actions/upload-artifact@v4
        with:
          path: server/build/botw-iss
          name: server
          retention-days: 3

  build-manual:
    name: Manual
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: arduino/setup-task@v2
        with:
          version: 3.x
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: cargo-bins/cargo-binstall@main
      - run: cargo-binstall --no-confirm mdbook
      - run: task manual:build
      - uses: actions/upload-artifact@v4
        with:
          path: manual/book
          name: manual
          retention-days: 3

  build-legacy:
    name: Legacy App
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: arduino/setup-task@v2
        with:
          version: 3.x
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - uses: actions/setup-node@v4
        with:
          node-version: 18.x
      - run: task leg:ci
      - run: task leg:build
      - uses: actions/upload-artifact@v4
        with:
          path: legacy/dist
          name: legacy
          retention-days: 3


