name: Deploy Dev Site
on:
  push:
    branches:
      - main

jobs:
  build:
    name: build
    runs-on: blacksmith-4vcpu-ubuntu-2204
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
          submodules: true
          pnpm: false
      - uses: ./.github/steps/setup-blacksmith
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - run: task build-manual-ci
      - uses: actions/upload-pages-artifact@v3
        with:
          path: packages/manual/book
          retention-days: 3
  deploy:
    name: deploy
    needs:
      - build
    if: github.event_name != 'pull_request'
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - id: deployment
        uses: actions/deploy-pages@v4

