name: PR
on:
  pull_request:
    branches:
      - main

jobs:
  check-layer-1-2:
    runs-on: blacksmith-4vcpu-ubuntu-2404
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: Pistonight/mono-dev/actions/setup@main
        with:
          runner: blacksmith
          submodules: true
          ecma-pnpm: true
          ecma-bun: true
          rust: stable
          tool-cargo-binstall: ripgrep,workex=Pistonite/workex
      - uses: ./.github/steps/cache-ci
        with:
          app-assets: true
      - run: task check-ci-layer-1-2 --output group

  check-layer-3:
    runs-on: blacksmith-4vcpu-ubuntu-2404
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: Pistonight/mono-dev/actions/setup@main
        with:
          runner: blacksmith
          submodules: true
          ecma-pnpm: true
          ecma-bun: true
          rust: stable
          tool-cargo-binstall: ripgrep,layered-crate
      - uses: ./.github/steps/cache-ci
        with:
          runtime: true
      - run: task check-ci-layer-3 --output group

  check-layer-4:
    runs-on: blacksmith-4vcpu-ubuntu-2404
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: Pistonight/mono-dev/actions/setup@main
        with:
          runner: blacksmith
          submodules: true
          ecma-pnpm: true
          ecma-bun: true
          rust: nightly
          rust-wasm: true
          rust-src: true
      - uses: ./.github/steps/cache-ci
        with:
          runtime: true
      - run: task check-ci-layer-4 --output group

  test:
    name: test
    runs-on: blacksmith-4vcpu-ubuntu-2404
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: Pistonight/mono-dev/actions/setup@main
        with:
          runner: blacksmith
          submodules: true
          ecma-pnpm: true
          ecma-bun: true
          rust: stable
      - uses: ./.github/steps/cache-ci
        with:
          app-assets: true
          runtime: true
      - run: task test-ci --output group
